## Introduction

In this jupyter notebook we will go through the following topics :

      * Dataset overview.

      * Reading  csv into a pandas dataframe and doing the necessary data manipulations.
      
      * Creating Database schema.
      
      * Creating DDL(data definition languages) for each table and executing it programatically.
      
      * Loading data into Postgres using psycopg2. 
      
      * Executing SQL queries.

## Dataset Overview

We will be using Netflix dataset for our project.

The netflix datset holds information about netflix movies and TV shows.
For our analysis, we will be first cleaning the source file and then creating the corresponding database and tables
in Postgres.


 ## Reading csv file to pandas dataframe

In [3]:
#Loading data from a CSV file into a Pandas DataFrame is achieved using the “read_csv” function in Pandas:

#Importing Pandas libraries with alias 'pd'
import pandas as pd

df = pd.read_csv('netflix_Tanisha_Genre.csv')
df

,Title,Genre,Languages,Type,Hidden Gem Score,Country Availability,Runtime,Director,Writer,View Rating,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
0,Lets Fight Ghost,Crime,Swedish,Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,R,...,3/4/2021,"Canal+, Sandrew Metronome",https://www.netflix.com/watch/81415947,https://www.imdb.com/title/tt1139797,A med student with a supernatural gift tries t...,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BOWM4NT...,NaN,NaN
1,HOW TO BUILD A GIRL,Comedy,English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,R,...,3/4/2021,"Film 4, Monumental Pictures, Lionsgate",https://www.netflix.com/watch/81041267,https://www.imdb.com/title/tt4193072,"When nerdy Johanna moves to London, things get...",2838.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BZGUyN2...,https://www.youtube.com/watch?v=eIbcxPy4okQ,YouTube
2,Centigrade,Drama,English,Movie,6.4,Canada,1-2 hour,Brendan Walsh,Brendan Walsh,Unrated,...,3/4/2021,NaN,https://www.netflix.com/watch/81305978,https://www.imdb.com/title/tt8945942,"Trapped in a frozen car during a blizzard, a p...",1720.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BODM2MD...,https://www.youtube.com/watch?v=0RvV7TNUlkQ,YouTube
3,ANNE+,Drama,Turkish,Series,7.7,Belgium,< 30 minutes,NaN,NaN,NaN,...,3/4/2021,NaN,https://www.netflix.com/watch/81336456,https://www.imdb.com/title/tt6132758,"Upon moving into a new place, a 20-something r...",1147.0,https://occ-0-1489-1490.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BNWRkMz...,NaN,NaN
4,Moxie,Animation,English,Movie,8.1,Lithuania,1-2 hour,Stephen Irwin,NaN,NaN,...,3/4/2021,NaN,https://www.netflix.com/watch/81078393,https://www.imdb.com/title/tt2023611,Inspired by her moms rebellious past and a con...,63.0,https://occ-0-4039-1500.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BODYyNW...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15473,K-POP Extreme Survival,NaN,NaN,Series,NaN,South Korea,< 30 minutes,NaN,NaN,NaN,...,4/14/2015,NaN,https://www.netflix.com/watch/80031595,NaN,Seung Yeon decides to chase her dream of becom...,NaN,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,NaN,NaN,NaN
15474,DreamWorks Shreks Swamp Stories,NaN,NaN,Series,NaN,Russia,< 30 minutes,NaN,NaN,NaN,...,4/14/2015,NaN,https://www.netflix.com/watch/70242630,NaN,"Shrek celebrates Halloween, Puss in Boots is c...",NaN,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,NaN,NaN,NaN
15475,DreamWorks Happy Holidays from Madagascar,Animation,English,Series,8.4,Belgium,< 30 minutes,NaN,NaN,NaN,...,4/14/2015,NaN,https://www.netflix.com/watch/70259784,NaN,Madagascar goes wild with holiday spirit in th...,71.0,https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...,NaN,NaN,NaN
15476,DreamWorks Holiday Classics,Animation,English,Series,8.2,Belgium,< 30 minutes,NaN,NaN,Unrated,...,4/14/2015,Fox,https://www.netflix.com/watch/70221348,NaN,Join your DreamWorks friends for these four ho...,82.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,NaN,NaN,NaN
15477,DreamWorks Kung Fu Panda Awesome Secrets,Animation,English,Series,8.1,Belgium,< 30 minutes,NaN,NaN,TV-PG,...,4/14/2015,NaN,https://www.netflix.com/watch/70241791,NaN,"In this pair of adventures, Po tells the story...",17.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,NaN,NaN,NaN

## Data Manipulations

Dropping the unnecessary columns

In [6]:
cols =  ['Hidden Gem Score', 'Rotten Tomatoes Score','Metacritic Score','Production House','Netflix Link','IMDb Link','Summary',
        'IMDb Votes','Image','Poster' , 'TMDb Trailer','Trailer Site','Release Date']
df.drop(cols,axis=1,inplace=True)

In [7]:
#Inspecting the shape after dropping the columns

df.shape

(15478, 14)

In [8]:
#Checking the percentage of missing values using isnull()

df.isnull().mean( )*100

Title                    0.000000
Genre                   11.047939
Languages               12.501615
Type                     0.000000
Country Availability     0.122755
Runtime                  0.006461
Director                30.410906
Writer                  27.962269
View Rating             45.367619
IMDb Score              13.548262
Awards Received         60.750743
Awards Nominated For    50.503941
Boxoffice               74.111642
Netflix Release Date     0.000000
dtype: float64

In [9]:
# Removing space from column names using replace() 

df.columns=df.columns.str.replace(' ', '')

In [10]:
#Checking the columns after removing spaces
df.columns

Index(['Title', 'Genre', 'Languages', 'Type', 'CountryAvailability', 'Runtime',
       'Director', 'Writer', 'ViewRating', 'IMDbScore', 'AwardsReceived',
       'AwardsNominatedFor', 'Boxoffice', 'NetflixReleaseDate'],
      dtype='object')

In [11]:
#Filling NaN values for the below columns with 0 using fillna()
columns = ['AwardsReceived' ,'AwardsNominatedFor']
df[columns] = df[columns].fillna(0)

#Checking the percentage of missing values using isnull() after fillna()
df.isnull().mean( )*100

#Changing datatypes for both columns from float to int after filling NAN values
df['AwardsNominatedFor'] = df['AwardsNominatedFor'].astype(int)
df['AwardsReceived'] = df['AwardsReceived'].astype(int)

#Checking the datatypes
#df.dtypes

In [12]:
#Checking the value count for ViewRating
#df['ViewRating'].value_counts()
#df['ViewRating'] = df['ViewRating'].str.replace('Not Rated' , 'Unrated')
#df['ViewRating'] = df['ViewRating'].str.replace('UNRATED' , 'Unrated')
#df['ViewRating'] = df['ViewRating'].str.replace('NOT RATED' , 'Unrated')


#Imputing NAN's for ViewRating with 'R'
import numpy as np
df['ViewRating'] = np.where(df['ViewRating'].isnull(),'R' ,df['ViewRating'])

#Checking the percentage of missing values 
df.isnull().mean()*100

Title                   0.000000
Genre                  11.047939
Languages              12.501615
Type                    0.000000
CountryAvailability     0.122755
Runtime                 0.006461
Director               30.410906
Writer                 27.962269
ViewRating              0.000000
IMDbScore              13.548262
AwardsReceived          0.000000
AwardsNominatedFor      0.000000
Boxoffice              74.111642
NetflixReleaseDate      0.000000
dtype: float64

In [13]:
#Checking value counts for Boxoffice 
df['Boxoffice'].value_counts()

#Removing dollar sign using replace()
df['Boxoffice']=df['Boxoffice'].str.replace('$' , '')
df['Boxoffice']

#Removing spaces
df['Boxoffice']=df['Boxoffice'].str.replace(',', '')

#Replacing NaN's with 0
import numpy as np
df['Boxoffice'] = np.where(df['Boxoffice'].isnull(),0 ,df['Boxoffice'])

<ipython-input-13-41a67d20c861>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Boxoffice']=df['Boxoffice'].str.replace('$' , '')

In [14]:
#Changing datatype for Boxoffice from object to int
df['Boxoffice'] = df['Boxoffice'].astype(int)

In [15]:
# Changing datatype for NetflixReleaseDate from object to datetime using to_datetime() 
df['NetflixReleaseDate'] = pd.to_datetime(df['NetflixReleaseDate'])

#Checking the datatypes
df.dtypes

#Extracting year from NetflixReleaseDate
df['Year'] = df['NetflixReleaseDate'].dt.year

In [16]:
#Removing characters from Runtime using Replace()
df['Runtime'] = df['Runtime'].str.replace(',','').str.replace('<','').str.replace('>','').str.replace('-',' ')
df['Runtime']

#Removing spaces
df['Runtime'] = df['Runtime'].str.replace(' ','')
df['Runtime']
#Replacing the values with (30minutes','30'),('1-2hour' , '120') ,('2hrs','170').Converting the values to minutes for different runtimes.
df['Runtime'] = df['Runtime'].str.replace('30minutes','30').str.replace('12hour' , '120').str.replace('2hrs','170')
df['Runtime']

0         30
1        120
2        120
3         30
4        120
        ...
15473     30
15474     30
15475     30
15476     30
15477     30
Name: Runtime, Length: 15478, dtype: object

In [18]:
#Checking value counts for Runtime
df['Runtime'].value_counts()

#Replacing NAN's with most frequent Runtime value
import numpy as np
df['Runtime'] = np.where(df['Runtime'].isnull(),120 ,df['Runtime'])

#Changing datatypes 
#df['Runtime'] = df['Runtime'].astype(int)

In [19]:
#Dropping not so relevant columns
cols = ['Writer','IMDbScore']
df.drop(cols,axis=1,inplace=True)

In [20]:
#Checknig value counts for Director
df['Director'].value_counts()

#Replacing NAN's with most frequent director value
import numpy as np
df['Director'] = np.where(df['Director'].isnull(),'Steven Spielberg ' ,df['Director'])

In [21]:
#Checking value counts for CountryAvailability
df['CountryAvailability'].value_counts()
df['CountryAvailability']
#Replacing NAN's with most frequent Country value
import numpy as np
df['CountryAvailability'] = np.where(df['CountryAvailability'].isnull(),'Japan' ,df['CountryAvailability'])

In [22]:
#Checking value counts for Languages
df['Languages'].value_counts()     

#Replacing NAN's with most frequent value for Languages
import numpy as np
df['Languages'] = np.where(df['Languages'].isnull(),'English' ,df['Languages'])

In [23]:
#Checking value counts for Genre
df['Genre'].value_counts()

#Replacing NAN's with most frequent value for Genre
import numpy as np
df['Genre'] = np.where(df['Genre'].isnull(),'Comedy' ,df['Genre'])

In [24]:
#Removing special characters from Title
df['Title'] = df['Title'].astype(str).replace('[^a-zA-Z0-9 ]', '', regex=True)

In [25]:
#Removing special characters from Director
df['Director'] = df['Director'].astype(str).replace('[^a-zA-Z0-9 ]', '', regex=True)

In [26]:
#After doing data manipulations,we are selcting a subset of data for exporting it to a csv and further creating tables 
#from it.

netflix_df=df.loc[0:1500,:]
netflix_df

,Title,Genre,Languages,Type,CountryAvailability,Runtime,Director,ViewRating,AwardsReceived,AwardsNominatedFor,Boxoffice,NetflixReleaseDate,Year
0,Lets Fight Ghost,Crime,Swedish,Series,Thailand,30,Tomas Alfredson,R,74,57,2122065,2021-03-04,2021
1,HOW TO BUILD A GIRL,Comedy,English,Movie,Canada,120,Coky Giedroyc,R,1,0,70632,2021-03-04,2021
2,Centigrade,Drama,English,Movie,Canada,120,Brendan Walsh,Unrated,0,0,16263,2021-03-04,2021
3,ANNE,Drama,Turkish,Series,Belgium,30,Steven Spielberg,R,1,0,0,2021-03-04,2021
4,Moxie,Animation,English,Movie,Lithuania,120,Stephen Irwin,R,0,4,0,2021-03-04,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,The Exam,Drama,Hungarian,Movie,Hungary,120,Pter Bergendy,R,4,0,0,2020-09-09,2020
1497,Cargo,Drama,English,Movie,Lithuania,120,Ben Howling,TV-MA,1,17,0,2020-09-08,2020
1498,Fugue,Animation,English,Movie,Poland,120,Georges Schwizgebel,R,2,1,0,2020-09-08,2020
1499,Dead End,Adventure,English,Series,Switzerland,30,JeanBaptiste Andrea,R,7,5,0,2020-09-08,2020
1500,Record of Youth,Drama,Korean,Series,Lithuania,30,Steven Spielberg,TV-14,0,0,0,2020-09-07,2020

In [27]:
#Exporting it a csv 
#netflix_df.to_csv (r'C:\Users\sunny\Desktop\netflix_nivtan_final.csv', index = False, header=True)


### Our netflix database has 5  entities.

Below are the tables names and a brief description of them:

  * movie : contains movie data such as title, type, runtime, box_office, netflix_release_date ,rating,awards,country               etc.
  
  * movie_director : contains the relationships between movies and directors.
  
  * director: contains director data including director's first name and last name.

  * genre : contains movies’s genre data such as genre id and genre of each movie.
 
  * language : stores language data like language id and name.

## Data model of netflix database

![](ER_etl.png "Title")

![](ER_etl.png"Title")

## DDL  for  tables

So, the first step in DDL would be creating a database and establishing connection with it.

## Connecting to database

For connecting to our netflix database we will be importing psycopg2 which is a Python module and is also used to work with
the databases.

   * Below example depicts how we can connect to our netflix database using psycopg2:
        
conn = psycopg2.connect("host=localhost dbname=netflix user=postgres password=shanaya")

## Interacting with the database

* connect() returns a connection object representing the database.

* then we are creating a cursor object that helps in execution of SQL statements.


Here is the code that demonstrates how we can connect and interact database.We will be connecting to our netflix database in this case.

        import psycopg2

        conn = psycopg2.connect("host=localhost dbname=netflix user=postgres password=shanaya")

        cur = conn.cursor()

        cur.execute('SELECT * FROM movie)

## Creating  Table

* After connecting to the database, we use CREATE TABLE command with columns in the same order as the CSV file and their respective types. 

* This query should be executed after establishing a connection to the database

* We also create a cursor object by calling the cursor() method that belongs to the connection object. 
  This cursor object is used to actually execute your commands.

* We then call the execute() method of the cursor object to help us in creating the table. 

* Finally, we need to commit and close the connection. "Committing" the connection tells the driver to send the commands to the   database.

Below example demonstrates this:

cur = conn.cursor()

cur.execute("""

    CREATE TABLE tableName(
    
    column1 dataType1 PRIMARY KEY,
    
    column2 dataType2,
    
    ...
)

""")


conn.commit()   #For commiting changes


Each column[n] is a placeholder for the column name, dataType[n] is the data type you want to store for that column, and PRIMARY KEY is an example of an optional parameter to add on to the table.

## Creating tables for our netflix database

In [ ]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2

#Defining function for table creation

def create_tables():
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE IF NOT EXISTS movie(
            movie_id INTEGER PRIMARY KEY,
            title VARCHAR,
            type VARCHAR,
            runtime INTEGER,
            box_office INTEGER,
            netflix_release_date DATE,
            rating VARCHAR,
            awards INTEGER,
            country VARCHAR
        )
        """,
        """ 
        CREATE TABLE IF NOT EXISTS director(
            director_id INTEGER  PRIMARY KEY,
            first_name VARCHAR,
            last_name VARCHAR
            )
        """,
        """
      CREATE TABLE IF NOT EXISTS genre(
            genre_id INTEGER Primary Key,
            genre VARCHAR 
        )
        """,
        """
        CREATE TABLE IF NOT EXISTS language(
            language_id integer PRIMARY KEY,
            language VARCHAR 
        )
        """,
        """
        CREATE TABLE IF NOT EXISTS movie_director(
            movie_id INTEGER REFERENCES movie,
            director_id INTEGER REFERENCES director
   
        )
      """)
      
    
    conn = None
    try:
        # read the connection parameters
        # connect to the PostgreSQL server
        conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
        )
        cur = conn.cursor()
       
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()


if __name__ == '__main__':
    create_tables()

## Loading data

The method to load a file into a table is called copy_from .It takes in a file (like a CSV) and automatically 
loads the file into a Postgres table.

Here we are loading data into our 5 tables(movie,movie_director,director,genre and language)

First, we are loading movie data

In [ ]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2


#connect to the database
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
#create a cursor object 
#cursor object is used to interact with the database
cur = conn.cursor()

#copy file into the created table 
with open('movie_file.csv', 'r') as f:
    cur.copy_from(f, 'movie', sep=',')

    
#Commit Changes    
conn.commit()

loading movie_director

In [ ]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2

#connect to the database
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
#create a cursor object
#cursor object is used to interact with the database
cur = conn.cursor()

#copy file into created table
with open('movie_director.csv', 'r') as f:
    cur.copy_from(f, 'movie_director', sep=',')
    
#commit changes
conn.commit()

Here we are loading director data

In [ ]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2

#connect to the database
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
#create a cursor object 
#cursor object is used to interact with the database
cur = conn.cursor()

#copy file into the created table 
with open('director_file.csv', 'r') as f:
    cur.copy_from(f, 'director', sep=',')

#Commit Changes  
conn.commit()

Then loading genre data

In [ ]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2

#connect to the database
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
#create a cursor object
#cursor object is used to interact with the database
cur = conn.cursor()

#copy file into created table
with open('genre_file.csv', 'r') as f:
    cur.copy_from(f, 'genre', sep=',')

#commit changes
conn.commit()

Finally, loading our language data

In [ ]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2

#connect to the database
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

#create a cursor object
#cursor object is used to interact with the database
cur = conn.cursor()

#copy file into created table
with open('language_file.csv', 'r') as f:
    cur.copy_from(f, 'language', sep=',')
    
#commit changes
conn.commit()

## Retrieving data

Here we are reading data from our tables(movie,movie_director ,director,genre,language) to a pandas DataFrame.We call DataFrame.read_sql() for achieving this and passing the database connection obtained from the SQLAlchemy Engine as a parameter..

In [1]:
##importing python library psycopg2 inorder to work with databases.
import psycopg2

#importing pandas
import pandas as pd

#To read from and write to SQL end-points like PostgreSQL the pandas DataFrame class uses the SQLAlchemy engine.
from sqlalchemy import create_engine

In [120]:
#Create an engine instance

alchemyEngine   = create_engine('postgresql+psycopg2://postgres:shanaya@localhost:5432/netflix') # this is our connection string

In [121]:
#Connect to PostgreSQL server

dbConnection    = alchemyEngine.connect();

In [122]:
#Read data from PostgreSQL database table and load into a DataFrame instance


dataFrame  = pds.read_sql("select type,title from \"movie\"", dbConnection);
print(dataFrame);



# Close the database connection

#dbConnection.close();

        type                title
0     Series     Lets Fight Ghost
1      Movie  HOW TO BUILD A GIRL
2      Movie           Centigrade
3     Series                 ANNE
4      Movie                Moxie
...      ...                  ...
1496   Movie             The Exam
1497   Movie                Cargo
1498   Movie                Fugue
1499  Series             Dead End
1500  Series      Record of Youth

[1501 rows x 2 columns]